@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family: 'Raleway', sans-serif;
}
.header-section{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image/background-img.jpeg);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	height:600px;
}
.container{
	width:1170px;
	margin:auto;
}
.my-nav {
	width:100%;
}
.logo{
	margin-top: 15px;
	float:left;
	color:white;
	font-size:20px;
}
.my-nav ul{
	float:right;
}

.my-nav ul li{
	display:inline-block;
	list-style-type:none;
}
.my-nav ul li a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 25px 15px;
    text-transform: capitalize;
    transition: .5s;
}
.my-nav ul li .contact {
	padding-right:0;
}
#active,.my-nav ul li a:hover{
	color:#74b816;
}
.header-content{
	position:absolute;
	top: 200px;
	width: 500px;
}
.header-content h1 {
    color: #fff;
    font-size: 56px;
    letter-spacing: 1.5px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.header-content h1 span{
	color:#74b816;
}
.header-content p {
    color: white;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}


.header-btn{
	position:absolute;
	top: 425px;
	margin-top: 20px;
}
.header-btn a {
    text-decoration: none;
    color: white;
    background: #74b816;
    padding: 14px 20px;
    display: inline-block;
	transition:.5s;
	border:1px solid #74b816;
}
.hireme{
	background:black !important;
	margin-left:10px;
}

.header-btn a:hover{
	background:black;
	border-color:white;
}
.header-icon{
	position:absolute;
	top: 200px;
	right:0;
}
.header-icon i{
	display:block;
	color: #74b816;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #74b816;
	margin-bottom: 2px;
	border-radius: 50%;
	font-size: 16px;
	transition:.5s;
}
.header-icon i:hover{
	background:#74b816;
	color:white;
}

/*about section*/
section{
	padding:80px 0;
}
.about-section{
	background:#eceaea;
}

.about-content{
	overflow: hidden;
}

.about-left-image{
	width: 570px;
	float:left;
}

.about-left-image img{
	width:100%;
	height: 350px;
}
.about-right-content{
	width: 570px;
	margin-left: 30px;
	float:left;
}
.all-about-content h1 {
    text-align: center;
    font-size: 30px;
    color: #74b816;
    margin-bottom: 20px;
    font-weight: 900;
}

.all-about-content .about-para {
    text-align: center;
    margin-bottom: 50px;
    color: #333;
    
}

.about-right-content h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.about-right-content p {
    line-height: 28px;
    color: #555;
    font-size: 16px;
}

/*our services section*/

.our-services{
	background:black;
}

.all-our-services h1 {
    text-align: center;
    font-size: 35px;
    color: #74b816;
    margin-bottom: 20px;
    font-weight: 900;
}

.all-our-services .our-ser-para {
    text-align: center;
    margin-bottom: 70px;
    color: #fff;
}

.our-single-content{
	width: 357px;
	color: #000;
	padding:20px;
	background: white;
	position: relative;
	margin: 35px 15px;
	display:inline-block;
}
.our-single-content h2{
	text-align:center;
	margin-bottom:15px;
	padding-top: 50px;
	color: #74b816;
}

.our-single-content span{
    font-size: 125px;
    position: absolute;
    z-index: 0;
    opacity: 0.1;
    font-style: italic;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.our-single-content p{
	text-align:center;
	margin-bottom:15px;
	font-size: 14px;
	line-height:25px;
}

.our-icon{
	width: 90px;
	height: 90px;
	top: -40px;
	left: 50%;
	margin-left:-40px;
	position: absolute;
	border:3px solid #74b816;
	box-sizing: border-box;
}
.our-icon i{
	width: 90px;
	height: 90px;
	line-height: 85px;
	text-align: center;
	background: #74b816;
	color:white;
	font-size: 40px;
	top: -3px;
	left: 45%;
	margin-left:-40px;
	position: absolute;
	border:2px solid #74b816;
    transition: all 500ms ease 0s;
}

.our-single-content:hover i{
	transform:scale(0.8)
}

/*products section*/

.porduct{
	background: #eceaea;
}

.all-product h1 {
    text-align: center;
    font-size: 35px;
    color: #74b816;
    margin-bottom: 20px;
    font-weight: 900;
}

.all-product .pro-para {
    text-align: center;
    margin-bottom: 70px;
    color: #585656;
}
.all-image .single-image{
	width: 367px;
	display:inline-block;
	border:3px solid #0000001a;
	padding:5px;
	height:250px;
	margin: 10px;
	transition: .3s;
}

.all-image .single-image img{
	width: 100%;
	height:100%;

}
.all-image .single-image:hover{
	border-color:#74b816;
}

/*happy section*/

.happy{
	background: black;
}

.all-happy-content{
	overflow: hidden;
}
.happy-left-content{
	width:500px;
	float:left;
}
.happy-right-content{
	width:600px;
	float:right;
	height:400px;
}

.happy-right-content img{
	width:100%;
	height:100%;
}
.happy-left-content h1{
	color:#74b816;
	font-size:35px;
	margin-bottom:25px;
	letter-spacing: 1.5px;
}

.happy-left-content h3{
	color: #ffffffc7;
	letter-spacing: 1.5px;
	font-size:20px;
	margin-bottom:15px;
}
.happy-left-content p{
	color: #ffffffad;
	font-size:16px;
	line-height:28px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
.happy-left-content a{
	text-decoration:none;
	display:inline-block;
	background:#74b816;
	color:white;
	border:1px solid #74b816;
	padding:14px 25px;
	transition: .4s;
}
.happy-left-content a:hover{
	background: black;
	border-color:#ddd;
}

/*our team section*/

.our-team-section{
	background:#eceaea;
}
.team-content h1{
	text-align:center;
	color:#74b816;
	font-size:35px;
	margin-bottom:70px;
	letter-spacing: 1.5px;
}
.all-team-memeber{
	display:flex;
	justify-content:space-between;
}
.single-team-member{
	width:370px;
	background:white;
	padding:10px;
	position:relative;

}
.single-team-member .team-header{
	color:#74b816;
	font-size:24px;
	text-align:center;
	padding-top:50px;
	padding-bottom:15px;
}
.single-team-member .team-des{
	text-align: center;
	font-size: 15px;
	margin-bottom: 10px;
	opacity:0.2;
	font-weight:700;
}

.single-team-member .team-description{
	text-align: center;
	padding-bottom: 20px;
	line-height: 28px;

}

.team-img{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:50%;
	transform:translateX(-50%);
	background:white;
}

.team-img img{
	width:100px;
	height:100px;
	border-radius:50%;
	padding:10px;
}

/*contact section*/

.contact-section{
	background: black;
}
.contact-heading{
	position: relative;
	margin-bottom: 30px;
}

.contact-heading span{
    color: #40404040;
    font-size: 15rem;
    font-weight: 800;
    text-align: center;
    display: block;
}
.contact-heading h1{
	font-size:60px;
	font-weight: 900;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color:#74b816;
}

.left-contact-content{
	width:400px;
	float:left;
	color:white;
}
.contac-form{
	overflow:hidden;
}
.right-contact-content{
	width:750px;
	float:right;
	margin-left:20px;
}

.left-contact-content h2{
	margin-bottom: 25px;
	font-weight: 500;
}

.left-contact-content .c-para{
	margin-bottom: 25px;
	line-height: 26px;
}

.left-contact-content .m-para{
	margin-bottom: 30px;
}
.left-contact-content i{
	margin-bottom: 25px;
	font-size: 40px;
	color:#74b816;
}
.left-contact-content .p-para{

}
.input-text{
	margin-bottom: 20px;
}
.input-text input{
	width:100%;
	background: transparent;
	font-size: 16px;
	color: white;
	outline: none;
	border: 1px solid #ddd;
	padding: 20px 0;
	padding-left:8px;
}

textarea {
    width: 100%;
    background: transparent;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    outline: none;
    /* margin-top: 10px; */
    border: 1px solid #ddd;
}

.btn a {
	text-decoration: none;
    display: inline-block;
    background: #74b816;
    color: white;
    border: none;
    outline: none;
    border-radius: 24px;
    padding: 14px 40px;
    font-size: 16px;
    border:1px solid #74b816;
    transition: .4s;
}
.btn a:hover{
	background:black;
	border-color:#ddd;
}
.check{
	margin:15px 0;
}
.right-contact-content span{
	color:white;
}
.right-contact-content span a{
	color:white;
	text-decoration: none;
	transition:.3s;
}

.right-contact-content span a:hover{
	color:#74b816;

}
footer{
	background:#363636;
}

footer p{
	padding:20px;
	text-align:center;
	color:#888;
}
footer p a{
	text-decoration:none;
	color:#74b816;
}






